{% extends "base.html.twig" %}

{% block title %}Sign up{% endblock %}

{% block body %}
    {% for ticket in tickets %}
        <li><a href="{{  path('admin.buy_tickets', {name: ticket.eventName}) }} "> {{ ticket.eventName }}</a></li>
    {% endfor %}
{% endblock %}
