{% extends "base.html.twig" %}

{% block title %}Ticket Info{% endblock %}

{% block body %}

        <li> nom : {{ tickets.eventName }}</li>

        <li> description : {{ tickets.eventDescription }}</li>


        <form action="#" method="post">

                <label for="proposition">Proposition:</label>
                <input type="text" id="proposition" name="_proposition" value="{{ proposition }}" />
                <button type="submit">Sign in</button>
        </form>


{% endblock %}
